.noteIcon {
	color: white;
	position: relative;
	cursor: pointer;
}

.noteNumber {
	font-weight: bold;
	padding: 2px;
	font-size: 10px;
	width: 13px;
	text-align: center;
	background-color: red;
	border-radius: 50%;
	position: absolute;
}
